@import "mixins";

// VARIABLES
$font-stack: 'Brutal Type Light';
$font-size-small: 12px;
$font-size-middle: 14px;
$font-size-large: 24px;

$margin-small: 20px;
$margin-xsmall: 30px;
$margin-middle: 45px;

$primary-color: #e7e7e7;
// END VARIABLES

@font-face {
  font-family: 'Brutal Type Light';
  src: url('../fonts/BrutalTypeLight/BrutalTypeLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BrutalTypeLight/BrutalTypeLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BrutalTypeLight/BrutalTypeLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BrutalTypeLight/BrutalTypeLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BrutalTypeLight/BrutalTypeLight.svg#fee63acd4617e0063530b8d672d5b118') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'Brutal Type Regular';
  src: url('../fonts/BrutalTypeRegular/BrutalType-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BrutalTypeRegular/BrutalType-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BrutalTypeRegular/BrutalType-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BrutalTypeRegular/BrutalType-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BrutalTypeRegular/BrutalType-Regular.svg#fee63acd4617e0063530b8d672d5b118') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: $primary-color;
  margin: 0;
  overflow: hidden;
  vertical-align: baseline;
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 1.4;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

// PRELOADER

#preloader {
  width: 300px;
  position: absolute;
  left: 50%; top: 48%;
  @include transform(translate(-50%,-50%));

  #preloader_image {
    max-width: 70px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;

    img {
      position: absolute;
      width: 100%;
      display: block;
    }
  }

  #loading {
    position: relative;
    margin: 0 auto;
    text-align: center; /* If you want to center it */
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 80px;
  }
}

.fade_in {
  @include animation(0s, 0.5s, ease, fadeIn);
}

@include keyframes(fadeIn) {
  to {
    opacity: 1;
  }
}

// END PRELOADER

// SCREEN PAGE
.icons_block {
  width: 100vw;
  height: 100vh;
  opacity: 0;

  .video_screen {
    position: absolute;
    left: 50%; top: 50%;
    display: none;
    width: 100%;
    z-index: 888;
    @include transform(translate(-50%,-50%));
    @include filter(brightness,65%);

    &.focus {
      display: block;
      background: rgba(255,255,255,0.7);
    }
  }

  .icons {
    position: relative;
    height: 100%;

    .icon {
      position: absolute;
      width: 100%;
      max-width: 70px;
      height: 1px;
      z-index: 9;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

      img {
        display: block;
        width: 100%;
        margin-bottom: 15px;

        &:hover {
          cursor: pointer;
        }

        &:hover + figcaption {
          visibility: visible;
        }
      }

      figcaption {
        position: absolute;
        visibility: hidden;
        text-align: center;
        width: 181px;
        margin-left: -57.5px;
        text-transform: uppercase;
      }
    }

  }
}
// END SCREEN PAGE

// LOGO
.logo {
  position: fixed;
  z-index: 950;
  left: $margin-small;
  top: $margin-small;
  @include transform(translateZ(0));

  @include respond-to(small) {
    max-width: 100px;
  }
  @include respond-to(large) {
    max-width: 110px;
  }

  &:hover {
    @include animation(0s, 0s, none, none);
  }

  img {
    display: block;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
// END LOGO

.smooth_move {
  @include transition(all 0.2s linear);
}

// ABOUT POPUP
html.touch .about {
  top: $margin-small;
  z-index: 949;
  font-size: 12px;
}
html.touch .play_btn {
  display: block;
}
html.touch #close_btn {
  font-size: 12px;
}
.about {
  font-size: $font-size-middle;
  text-transform: uppercase;
  position: fixed;
  bottom: $margin-small;
  right: $margin-small;
  padding: 0px;
  line-height: 1.6;
  height: 20px;

  &:hover {
    cursor: pointer;
  }
}

.about_popup {
  padding-top: 130px;
  padding-bottom: 210px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  display: none;

  .about_block {
    @include respond-to(small) {
      max-width: 1200px;
      margin-top: 0px;
      margin: 0 auto;
      width: 100%;
      position: relative;
    }
    @include respond-to(medium) {
      max-width: 1240px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      padding-left: 20px;
      padding-right: 20px;
      @include transform(translate(-50%,-50%));
    }
    @media screen and (max-height: 760px) and (orientation: landscape) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      margin: 0 auto;
      overflow-y: auto;
      margin-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .about_heading {
    @include respond-to(small) {
      display: none;
      margin-top: 0;
      line-height: 1;
    }
    @include respond-to(mediumLandscape) {
      display: block;
      font-size: $font-size-large;
    }
  }

  @include respond-to(small) {
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 12px;
  }
  @include respond-to(medium) {
    font-size: 14px;
  }
  @include respond-to(mediumLandscape) {
    overflow-y: hidden;
  }

  .about_img {
    position: relative;

    @include respond-to(small) {
      width: 100%;
      float: none;
      max-width: none;
    }

    @include respond-to(mediumLandscape) {
      width: 70%;
      float: right;
      max-width: 880px;
    }

    img {
      position: relative;
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin-right: $margin-small;
    }
  }

  .about_info {
    @include respond-to(small) {
      padding-top: $margin-small;
      width: 100%;
    }

    @include respond-to(mediumLandscape) {
      width: 25%;
      float: left;
      margin-right: 15px;
      max-width: 275px;
      padding-top: 0;
    }

    .about_heading {
      @include respond-to(small) {
        font-size: 14px;
        display: block;
      }
      @include respond-to(mediumLandscape) {
        display: none;
      }
    }

    p {
      margin-bottom: $margin-middle;

      @include respond-to(small) {
        margin-bottom: 20px;
        margin-top: 0px;
      }
    }
  }
}

// END ABOUT POPUP

// TOUCH SCREEN
.videos_touch {
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: $font-size-small;
  line-height: 1.2;
  padding-top: 30px;
  padding-left: $margin-small;
  padding-right: $margin-small;

  // .left_col {
  //   @include respond-to(medium) {
  //     padding-right: 10px;
  //   }
  // }

  // .right_col {
  //   @include respond-to(medium) {
  //     padding-left: 10px;
  //   }
  // }

  .first_video {
    margin-top: $margin-xsmall;
  }

  .video_description {
    position: absolute;
  }

  .video_grid {
    width: 100%;
    position: relative;

    @include respond-to(small) {
      margin-bottom: 50px;
    }

    @include respond-to(medium) {
      display: inline-block;
      @include rowMachine(2, 3%, 8%);
    }
    @include respond-to(large) {
      display: inline-block;
      @include rowMachine(3, 3%, 6%);
    }

    .play_btn {
      @include transform(translate(-50%,-50%));
      left: 50%; top: 50%;
      position: absolute;
      display: block;
      z-index: 1;

      @include respond-to(small) {
        max-height: 30px;
      }
      @include respond-to(medium) {
        max-height: 35px;
      }
    }

    .image_touch {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}

// END TOUCH SCREEN

.hide_top {
  @include transition(top 0.4s linear);
  @include animation(0s, 2s, ease, hideTop);
}

@include keyframes(hideTop) {
  to {
    top: -300px;
    display: none;
  }
}

.hide_bot {
  @include transition(bottom 0.4s linear);
  @include animation(0s, 2s, ease, hideBot);
}

@include keyframes(hideBot) {
  to {
    bottom: -300px;
    display: none;
  }
}

.show_top {
  @include transition(top 0.2s linear);
  @include animation(0s, 0.8s, ease, showTop);
}

@include keyframes(showTop) {
  to {
    top: $margin-small;
    display: block;
  }
}

.show_bot {
  @include transition(bottom 0.2s linear);
  @include animation(0s, 0.8s, ease, showBot);
}

@include keyframes(showBot) {
  to {
    bottom: 0px;
    display: block;
  }
}

ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* This used to work for parent element of button divs */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

// CLEARFIX
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
